In [13]:
import numpy as np
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px
import plotly.offline as pyo
import seaborn as sns

In [4]:
patients = pd.read_csv('IndividualDetails.csv')

In [6]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5356 entries, 0 to 5355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  5356 non-null   int64
 1   government_id       1141 non-null   object
 2   diagnosed_date      5356 non-null   object
 3   age                 1005 non-null   object
 4   gender              1444 non-null   object
 5   detected_city       876 non-null    object
 6   detected_district   4416 non-null   object
 7   detected_state      5356 non-null   object
 8   nationality         1100 non-null   object
 9   current_status      5355 non-null   object
 10  status_change_date  5246 non-null   object
 11  notes               4138 non-null   object
dtypes: int64(1), object(11)
memory usage: 502.3+ KB

In [48]:
total_cases = patients.shape[0]
total_cases

5356

In [54]:
active = patients[patients['current_status'] == 'Hospitalized'].shape[0]
recovered = patients[patients['current_status'] == 'Recovered'].shape[0]
deaths =patients[patients['current_status'] == 'Deceased'].shape[0]

In [56]:
deaths

26

In [62]:
options = patients['current_status'].unique().tolist()
options = options[:3]

In [68]:
options = options[:3]

In [70]:
pbar = patients['detected_state'].value_counts().reset_index()

In [80]:
statuses = patients['current_status'].unique().tolist()[0:3]
options = [{'label': status, 'value': status} for status in statuses]
options.append({'label': 'All', 'value': 'All'})

In [82]:
options

[{'label': 'Recovered', 'value': 'Recovered'},
 {'label': 'Hospitalized', 'value': 'Hospitalized'},
 {'label': 'Deceased', 'value': 'Deceased'},
 {'label': 'All', 'value': 'All'}]

In [88]:
npat =patients[patients['current_status']=='Recovered']
pbar = npat['detected_state'].value_counts().reset_index()

In [19]:
agd = pd.read_csv('AgeGroupDetails.csv')
agd

   Sno AgeGroup  TotalCases Percentage
0    1      0-9          22      3.18%
1    2    10-19          27      3.90%
2    3    20-29         172     24.86%
3    4    30-39         146     21.10%
4    5    40-49         112     16.18%
5    6    50-59          77     11.13%
6    7    60-69          89     12.86%
7    8    70-79          28      4.05%
8    9     >=80          10      1.45%
9   10  Missing           9      1.30%

In [11]:
agd.shape

(10, 4)

In [17]:
agd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sno         10 non-null     int64
 1   AgeGroup    10 non-null     object
 2   TotalCases  10 non-null     int64
 3   Percentage  10 non-null     object
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes

In [27]:

trace = go.Bar(x = agd['AgeGroup'], y = agd['TotalCases'])
data = [trace]
layout = go.Layout(title="AgeGroup v/s Case", xaxis_title='Age Group', yaxis_title='Total Cases')
fig = go.Figure(data = data, layout=layout)
pyo.plot(fig)

'temp-plot.html'

In [29]:
icmr = pd.read_csv('ICMRTestingDetails.csv')

In [31]:
icmr.head()

,SNo,DateTime,TotalSamplesTested,TotalIndividualsTested,TotalPositiveCases,Source
0,1,13/03/20 18:00,6500.0,5900.0,78.0,Press_Release_ICMR_13March2020.pdf
1,2,18/03/20 18:00,13125.0,12235.0,150.0,ICMR_website_update_18March_6PM_IST.pdf
2,3,19/03/20 18:00,14175.0,13285.0,182.0,ICMR_website_update_19March_6PM_IST.pdf
3,4,20/03/20 18:00,15404.0,14514.0,236.0,ICMR_website_update_20March_6PM_IST.pdf
4,5,21/03/20 18:00,16911.0,16021.0,315.0,ICMR_website_update_21March_6PM_IST.pdf

In [49]:
covid_df = pd.read_csv('covid_19_india.csv')
covid_df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1.0,30/01/20,6:00 PM,Kerala,1,0,0.0,0.0,1.0
1,2.0,31/01/20,6:00 PM,Kerala,1,0,0.0,0.0,1.0
2,3.0,01/02/20,6:00 PM,Kerala,2,0,0.0,0.0,2.0
3,4.0,02/02/20,6:00 PM,Kerala,3,0,0.0,0.0,3.0
4,5.0,03/02/20,6:00 PM,Kerala,3,0,0.0,0.0,3.0

In [51]:
covid_df = covid_df.dropna()

In [53]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 801 entries, 0 to 800
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Sno                       801 non-null    float64
 1   Date                      801 non-null    object
 2   Time                      801 non-null    object
 3   State/UnionTerritory      801 non-null    object
 4   ConfirmedIndianNational   801 non-null    object
 5   ConfirmedForeignNational  801 non-null    object
 6   Cured                     801 non-null    float64
 7   Deaths                    801 non-null    float64
 8   Confirmed                 801 non-null    float64
dtypes: float64(4), object(5)
memory usage: 62.6+ KB

In [55]:
covid_df.isnull().sum()

Sno                         0
Date                        0
Time                        0
State/UnionTerritory        0
ConfirmedIndianNational     0
ConfirmedForeignNational    0
Cured                       0
Deaths                      0
Confirmed                   0
dtype: int64

In [57]:
covid_df['Dates'] = pd.to_datetime(covid_df['Date'])

C:\Users\samar\AppData\Local\Temp\ipykernel_2776\4068600880.py:1: UserWarning:

Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.

In [79]:
import datetime as dt
covid_df['day'] = covid_df['Dates'].dt.weekday

In [89]:
covid_df.groupby('day')['Confirmed'].sum()

day
0     5431.0
1     9471.0
2     3347.0
3     5286.0
4     6971.0
5    11041.0
6     1536.0
Name: Confirmed, dtype: float64

In [127]:
# Group by 'Dates' and sum the 'Confirmed' cases
covid_df['Dates'] = pd.to_datetime(covid_df['Date'])
covid = covid_df.groupby('Dates')['Confirmed'].sum().reset_index()

# Sort the DataFrame by 'Dates'
covid = covid.sort_values(by='Dates')

# Create a trace for the line plot
trace = go.Scatter(x=covid['Dates'], y=covid['Confirmed'], mode='lines')  # Use 'lines' for a line graph

# Define the data and layout for the plot
data = [trace]
layout = go.Layout(title="Day by Day Cases", xaxis_title='Date', yaxis_title='Total Cases')

# Create the figure with data and layout
fig = go.Figure(data=data, layout=layout)

# Plot the figure
pyo.plot(fig)

In [131]:
# Create a trace for the line plot
trace = go.Scatter(x=covid['Dates'], y=covid['Confirmed'], mode='lines')  # Use 'lines' for a line graph

# Define the data and layout for the plot
data = [trace]
layout = go.Layout(title="Day by Day Cases", xaxis_title='Date', yaxis_title='Total Cases')

# Create the figure with data and layout
fig = go.Figure(data=data, layout=layout)

# Plot the figure
pyo.plot(fig)

'temp-plot.html'

In [83]:
# covid_df['Dates'].dt.weekday
#

In [85]:
# covid_df['Dates'].dt.day_name()

'temp-plot.html'

In [133]:
# Group by 'Dates' and sum the 'Confirmed' cases
covid = covid_df.groupby('Dates')['Confirmed'].sum().reset_index()

# Sort the DataFrame by 'Dates'
covid = covid.sort_values(by='Dates')

# Now you can use this DataFrame for plotting
trace = go.Scatter(
    x=covid['Dates'], 
    y=covid['Confirmed'], 
    mode='lines',  # Keep the line mode
    line=dict(width=2, color='blue')  # Adjust line thickness and color
)

# Define the layout
layout = go.Layout(
    title="Day by Day Analysis",  # Title of the graph
    xaxis=dict(
        title='Date',  # X-axis label
        tickangle=-45,  # Rotate x-axis labels
        tickformat='%d/%m/%y',  # Date format for x-axis
    ),
    yaxis=dict(
        title='Number of Cases',  # Y-axis label
    ),
    template='plotly_white',  # Clean background
    hovermode="x unified"  # Unified hover mode
)

# Create the figure
fig = go.Figure(data=[trace], layout=layout)

# Plot the figure
pyo.plot(fig)

'temp-plot.html'